<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Data</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Home Values</h1>

        <button type="button" id='state-button' class="btn"></button>
        <button type="button" id='price-button' class="btn"></button>
        <button type="button" id='home-button' class="btn"></button>
        
        <table>
            <thead>
                <tr>
                    <th>Region ID</th>
                    <th>Size Rank</th>
                    <th>State</th>
                    <th>Average Home Value</th>
                </tr>
            </thead>
            <tbody>
                {{#each values}}
                {{#if this.region_id}}
                    <tr>
                        <td>{{this.region_id}}</td>
                        <td>{{this.size_rank}}</td>
                        <td>{{this.state}}</td>
                        <td>{{this.home_value}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
            </tbody>
        </table>
    </div>
</body>
<main>
    {{{ body }}}
</main>
</html>